.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "left-sidebar main-content right-sidebar"
    "footer footer footer";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.header {
  grid-area: header;
}

.left-sidebar {
  grid-area: left-sidebar;
}

.main-content {
  grid-area: main-content;
}

.right-sidebar {
  grid-area: right-sidebar;
}

.footer {
  grid-area: footer;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "header"
      "main-content"
      "left-sidebar"
      "right-sidebar"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto auto;
  }
}

.sidebar-content {
  padding: 1rem;
}

.card {
  padding: 2rem;
  margin: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.selected-option {
  margin-top: 1rem;
  font-weight: bold;
}